<!DOCTYPE html>
<html>
  <head>
    <title>KWKtravelz</title>
  </head>
  <body>
    <h1>Welcome to KWKtravelz!</h1>
  </body>
  <h2>The following cities all house Kode with Klossy camps! Click the one you're heading to and check out popular eats and attractions! 
    <ul>
      <li> <a href = "/raleigh">Raleigh</a> 
      </li>
        <li> <a href = "/miami">Miami</a> 
      </li>
      <li> <a href = "/LA">LA</a> 
      </li>
      <li> <a href = "/seattle">Seattle</a> 
      </li>
      <li> <a href = "/chicago">Chicago</a> 
      </li>
      <li> <a href = "/nyc">New York City</a> 
      </li>
</html>